<h1>Ajax Testarea</h1>

<form>
  <label for="userid">User ID :</label>
  <input type="text" name ="userid" id="userid" onblur="PostData()" />
  <div id="div1"></div>
  <input type="button" value ="Check" onclick="PostData()" />
</form>