<h1>Welcome to Index</h1>

<div>
    <form action="/request" method="POST">
      <input type="text" name="rocknroll">
      <input type=submit>
    </form>
</div>


<!-- Simple HTML Form -->
<div>
  <form id="buttons" action="/request" method="POST">
    HTML:
    <button name="feeling" type="submit" value="fine">Fine</button>
    <button name="feeling" type="submit" value="neutral">Neutral</button>
    <button name="feeling" type="submit" value="bad">Bad</button>
  </form>
</div>

<!-- Same Form via AJAX -->

<div>
  <form name="ajaxformname" id="ajaxform" action="/request" method="POST">
    AJAX:
    <input id="btn1" name="feeling" type="submit" value="Fine">
    <input id="btn2" name="feeling" type="submit" value="Neutral">
    <input id="btn3" name="feeling" type="submit" value="Bad">
  </form>
</div>

