<h1>Welcome to Index</h1>

<div>
    <form action="/request" method="POST">
      <input type="text" name="rocknroll">
      <input type=submit>
    </form>
</div>


<div>

  <form action="/product" method="POST">
    <input type="text" name="product[name]" value="Responsive Web Design with HTML5 and CSS3"/>
    <input type="text" name="product[sku]" value="1849693188"/>
    <input type="text" name="product[publisher]" value="Packt Publishing (April 10, 2012)"/>
  </form>

</div>