<h1>Welcome to Index</h1>

<form action="/request" method="GET">
  <input type="text" name="my_data">
  <input type=submit>
</form>

<form action="/request" method="GET">
  First name: <input type="text" name="fname"><br>
  Last name: <input type="text" name="lname"><br>
  <input type="submit" value="Submit">
</form>